
params {
    bam_dir = "./bam_files"
    reference = "./reference/genome.fasta"
    outdir = "./results"
    callers = "gatk_haplotypecaller,freebayes,bcftools,deepvariant,varscan"
    enable_ensemble = true
    min_callers_agree = 2
}

process {
    errorStrategy = 'retry'
    maxRetries = 2

    withLabel: process_medium {
        cpus = 2
        memory = '4.GB'
    }

    withLabel: process_high {
        cpus = 4
        memory = '8.GB'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

manifest {
    name = 'multi-caller-variant-pipeline'
    description = 'Benchmark multiple variant callers'
    version = '1.0.0'
}
